##Importing Data

Sources: https://colab.research.google.com/drive/1V7hnyYuY_dUXQEPkCMZkgMuBFQV4iA_4?usp=sharing#scrollTo=WNTbazGtI523

Fetching Files

In [ ]:
! pip install -q --upgrade git+https://github.com/SafeGraphInc/safegraph_py

  Preparing metadata (setup.py) ... done

In [ ]:
from safegraph_py_functions import safegraph_py_functions as sgpy

In [ ]:
# If you need to run test data, you can connect to your Google drive HERE

from google.colab import drive as mountGoogleDrive 

your_name = "Luke" # << If you want to customize the code, then you should edit this
################################
print(f"Hello {your_name}, to mount your google drive you will need to click on the link and copy/paste the code.")
################################
# These commands allow the notebook to read your data from your GoogleDrive
mountGoogleDrive.mount('/content/Safegraph')
print(f"Congrats {your_name}, you mounted your google drive!")

Hello Luke, to mount your google drive you will need to click on the link and copy/paste the code.
Mounted at /content/Safegraph
Congrats Luke, you mounted your google drive!

Old Code For Getting All Values In Multiple Files

In [ ]:
#multi_file_path = r'/content/Safegraph/MyDrive/Safegraph/part1'

In [ ]:
#multi_pattern_demo = sgpy.read_pattern_multi(multi_file_path)

In [ ]:
#multi_pattern_demo.head()

In [ ]:
#for col in multi_pattern_demo.columns:
    #print(col)

Finding Possible Column Names

In [ ]:
single_file_path = r'/content/Safegraph/MyDrive/Safegraph/part1/core_poi-geometry-patterns-part1.csv.gz'
single_pattern_test = sgpy.read_pattern_single(single_file_path)
custom_single_pattern = sgpy.read_pattern_single(single_file_path, nrows=1)
for col in custom_single_pattern:
    print(col)

placekey
parent_placekey
safegraph_brand_ids
location_name
brands
store_id
top_category
sub_category
naics_code
latitude
longitude
street_address
city
region
postal_code
open_hours
category_tags
opened_on
closed_on
tracking_closed_since
websites
geometry_type
polygon_wkt
polygon_class
enclosed
phone_number
is_synthetic
includes_parking_lot
iso_country_code
wkt_area_sq_meters
date_range_start
date_range_end
raw_visit_counts
raw_visitor_counts
visits_by_day
visits_by_each_hour
poi_cbg
visitor_home_cbgs
visitor_home_aggregation
visitor_daytime_cbgs
visitor_country_of_origin
distance_from_home
median_dwell
bucketed_dwell_times
related_same_day_brand
related_same_week_brand
device_type
normalized_visits_by_state_scaling
normalized_visits_by_region_naics_visits
normalized_visits_by_region_naics_visitors
normalized_visits_by_total_visits
normalized_visits_by_total_visitors

Freeing Up RAM

In [ ]:
import gc
try:
  del single_pattern_test
except:
  pass
try:
  del custom_single_pattern
except:
  pass
try:
  gc.collect()
except:
  pass

Importing Dataframe To Use

In [ ]:
all_path = r'/content/Safegraph/MyDrive/Safegraph2'

In [ ]:
multi_pattern_custom_demo = sgpy.read_pattern_multi(all_path, usecols=['placekey','latitude', 'longitude', 'raw_visit_counts', 'raw_visitor_counts','date_range_start','date_range_end'])

/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part9.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part7.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part4.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part5.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part6.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part8.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part2.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part18.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part1.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part20.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part19.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part22.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part3.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part17.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part14.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part15.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part13.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part21.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part16.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part10.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part11.csv.gz
/content/Safegraph/MyDrive/Safegraph2/core_poi-geometry-patterns-part12.csv.gz

In [ ]:
multi_pattern_custom_demo.head()

,placekey,latitude,longitude,date_range_start,date_range_end,raw_visit_counts,raw_visitor_counts
0,zzw-22g@8g7-47z-4n5,33.801432,-84.328183,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,153.0,127.0
1,223-222@8gd-nfm-gff,31.848279,-81.550946,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,1.0,1.0
2,zzy-222@665-zbs-2hq,43.635003,-79.425937,NaN,NaN,NaN,NaN
3,224-226@8tr-zb8-hdv,32.340824,-111.014954,NaN,NaN,NaN,NaN
4,22b-222@5s8-cjs-rx5,44.969912,-93.125358,2018-01-01T00:00:00-06:00,2018-01-08T00:00:00-06:00,2.0,2.0

In [ ]:
multi_pattern_custom_demo = multi_pattern_custom_demo.dropna()

In [ ]:
print("row count after dropna:", len(multi_pattern_custom_demo.index))

row count after dropna: 3943826

In [ ]:
multi_pattern_custom_demo.head()

,placekey,latitude,longitude,date_range_start,date_range_end,raw_visit_counts,raw_visitor_counts
0,zzw-22g@8g7-47z-4n5,33.801432,-84.328183,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,153.0,127.0
1,223-222@8gd-nfm-gff,31.848279,-81.550946,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,1.0,1.0
4,22b-222@5s8-cjs-rx5,44.969912,-93.125358,2018-01-01T00:00:00-06:00,2018-01-08T00:00:00-06:00,2.0,2.0
5,zzy-224@5xc-kcy-9s5,45.464144,-122.654787,2018-01-01T00:00:00-08:00,2018-01-08T00:00:00-08:00,2.0,2.0
9,zzw-222@62k-jg8-t7q,41.846344,-71.429879,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,17.0,9.0

##Creating Distance Dummies

Old Code That Returns Dataframe Of Close Lat/Long Locations

In [ ]:
import geopy.distance
def get_closest(shooting_lat, shooting_long, multi_pattern_custom_demo, min_dist):
  #GETTING VALUES WITHIN 54 MILES
  multi_pattern_custom_demo = multi_pattern_custom_demo[multi_pattern_custom_demo['latitude'] <= shooting_lat+1]
  multi_pattern_custom_demo = multi_pattern_custom_demo[multi_pattern_custom_demo['latitude'] >= shooting_lat-1]
  multi_pattern_custom_demo = multi_pattern_custom_demo[multi_pattern_custom_demo['longitude'] <= shooting_long+1]
  multi_pattern_custom_demo = multi_pattern_custom_demo[multi_pattern_custom_demo['longitude'] >= shooting_long-1]
  #GETTING VALUES WITHIN (MIN_DIST) MILES
  distances = []
  shooting_latlong = (shooting_lat, shooting_long)
  for iteration in range(len(multi_pattern_custom_demo.index)):
    location_latlong = (multi_pattern_custom_demo.iloc[iteration]['latitude'],multi_pattern_custom_demo.iloc[iteration]['longitude'])
    if abs(float(location_latlong[1])) > 90:
      distances.append("nan")
      continue
    distances.append(geopy.distance.distance(shooting_latlong, location_latlong).miles)
  multi_pattern_custom_demo['distance'] = distances
  close_locations = multi_pattern_custom_demo[multi_pattern_custom_demo['distance'] <= min_dist]
  return close_locations

In [ ]:
#REPLACE WITH SHOOTING LOCATION
shooting_lat = 37.244933
shooting_long = -80.175964
min_dist = 5 #IN MILES, REPLACE WITH MILES TO DESTINATION
#closest = get_closest(shooting_lat, shooting_long, multi_pattern_custom_demo, min_dist)
#print(closest.head())
#print(len(closest.index))

In [ ]:
#closest

,placekey,latitude,longitude,date_range_start,date_range_end,raw_visit_counts,raw_visitor_counts,distance_dummy,distance
89622,222-224@63f-whb-skf,37.233319,-80.240305,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,124.0,106.0,0.0,3.636767
456210,zzy-222@63f-wh9-z4v,37.228424,-80.241956,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,2.0,2.0,0.0,3.812576
41657,zzw-222@63f-w99-qzz,37.275109,-80.124295,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,13.0,4.0,0.0,3.527273
157817,zzy-223@63f-whq-7wk,37.199208,-80.232886,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,19.0,12.0,0.0,4.449391
166982,224-222@63f-w9m-kmk,37.288998,-80.137930,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,1.0,1.0,0.0,3.691680
...,...,...,...,...,...,...,...,...,...
85901,223-222@63f-w7s-fxq,37.246410,-80.175603,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,10.0,10.0,0.0,0.103782
163134,222-222@63f-w99-zmk,37.274600,-80.130381,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,8.0,4.0,0.0,3.240150
168291,222-222@63f-w9m-t5f,37.280514,-80.139092,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,165.0,92.0,0.0,3.186074
431564,222-222@63f-w9g-zpv,37.279946,-80.116636,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,44.0,30.0,0.0,4.064902
471668,222-222@63f-wh9-t7q,37.220777,-80.228290,2018-01-01T00:00:00-05:00,2018-01-08T00:00:00-05:00,4.0,3.0,0.0,3.331624

Get Distance Dummies

In [ ]:
import geopy.distance
def close_dummies(shooting_lat, shooting_long, multi_pattern_custom_demo, min_dist):

  multi_pattern_custom_demo['distance_dummy'] = 0

  shooting_latlong = (shooting_lat, shooting_long)

  for iteration in range(len(multi_pattern_custom_demo.index)):

    if multi_pattern_custom_demo.loc[iteration]['latitude'] > shooting_lat+.5 or multi_pattern_custom_demo.loc[iteration]['latitude'] < shooting_lat-.5 or multi_pattern_custom_demo.loc[iteration]['longitude'] > shooting_long+.5 or multi_pattern_custom_demo.loc[iteration]['longitude'] < shooting_long-.5:
      continue

    location_latlong = (multi_pattern_custom_demo.loc[iteration]['latitude'],multi_pattern_custom_demo.loc[iteration]['longitude'])

    if geopy.distance.distance(shooting_latlong, location_latlong).miles <= min_dist:
      multi_pattern_custom_demo.at[iteration, 'distance_dummy']=1

  return multi_pattern_custom_demo

In [ ]:
shooting_lat = 37.244933
shooting_long = -80.175964
min_dist = 5 #IN MILES, REPLACE WITH MILES TO DESTINATION
multi_pattern_custom_demo = close_dummies(shooting_lat, shooting_long, multi_pattern_custom_demo, min_dist)
print(multi_pattern_custom_demo.head())

ValueError: ignored

Counting How Many Rows Are Near Shooting

In [ ]:
count = 0
for iteration in range(len(multi_pattern_custom_demo.index)):
  if multi_pattern_custom_demo.iloc[iteration]['distance_dummy'] == 1:
    print(multi_pattern_custom_demo.iloc[iteration]['longitude'],multi_pattern_custom_demo.iloc[iteration]['latitude'])

-72.653992 40.920536
-91.398951 32.860147
-94.624978 39.14986
-76.551928 39.184022
-93.025925 44.989066
-87.567107 37.874961
-88.547284 39.122329
-76.415026 40.312576
-83.70417 41.674083
-84.360397 30.46544
-97.791502 32.776121
-116.285294 43.555966
-83.112679 42.537218
-88.03629 42.49695
-117.965631 33.995776
-119.057285 35.295094
-96.484136 32.94936
-95.386447 29.556413
-78.754764 42.926674
-88.079938 41.686393
-114.10385 47.526833
-83.975001 35.797312
-88.813048 35.558349
-97.03666 45.304907
-76.298314 40.040135
-97.149455 32.720549
-122.685097 38.347836
-98.094617 27.746756
-95.635379 29.679913
-97.331862 32.710992
-121.185929 45.600071
-116.86792 33.042722
-93.752014 32.493246
-98.067451 26.182715
-118.193369 33.772151
-75.450499 38.930945
-96.14184 41.201114
-75.161594 40.02833
-78.55322 33.988072
-117.882355 33.926325
-77.51384 38.294781
-106.733565 32.304596
-86.598747 36.209437
-74.605193 40.983492
-93.016787 45.079009
-75.606444 41.473076
-87.695286 42.055846
-122.859411 42.313271
-95.452218 37.681485
-97.321292 32.860369
-87.568986 38.252814
-118.575136 34.207893
-87.853628 42.878375
-95.400861 29.952014
-117.291658 34.479239
-97.239411 37.745813
-80.151913 25.964456
-83.36909 35.19266
-79.407329 36.614269
-78.913129 36.735059
-111.821879 41.755674
-87.009034 34.824732
-93.15321 31.754177
-73.821972 42.696456
-96.780964 41.461958
-75.625216 35.841539
-79.718247 39.909762
-88.343715 41.751879
-116.780959 47.67373
-80.452238 34.876529
-85.269545 35.070207
-81.860946 26.643916
-83.686739 42.086581
-84.98423 29.724246
-88.003319 41.949401
-149.855896 61.110775
-123.351063 43.24256
-102.152816 32.029046
-89.819907 35.202799
-122.439645 47.256184
-120.4018 34.865633
-121.047955 37.684971
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan